<div class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="special-heading">Portfolio</h2>
    <p>If you do it right, it will last forever.</p>
    <div class="portfolio-content">
      <div class="card">
        <img decoding="async" [src]="path1" alt="" />
        <div class="info">
          <h3>Project Here</h3>
          <p>My creative ability is very difficult to measure because it can manifest in so many surprising and.</p>
        </div>
      </div>
      <div class="card">
        <img decoding="async" [src]="path2" alt="" />
        <div class="info">
          <h3>Project Here</h3>
          <p>My creative ability is very difficult to measure because it can manifest in so many surprising and.</p>
        </div>
      </div>
      <div class="card">
        <img decoding="async" [src]="path3" alt="" />
        <div class="info">
          <h3>Project Here</h3>
          <p>My creative ability is very difficult to measure because it can manifest in so many surprising and.</p>
        </div>
      </div>
    </div>
  </div>
</div>
