<img decoding="async" class="logo" src="images/logo.png" alt="" />
<!-- logo -->
<nav>
  <a routerLink="/pages" routerLinkActive="active">Home</a>
  <a routerLink="/pages/about" routerLinkActive="active">About</a>
  <a routerLink="/pages/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/pages/services" routerLinkActive="active">Services</a>
  <a routerLink="/pages/portfolio" routerLinkActive="active">Portfolio</a>
  <a routerLink="/pages/footer" routerLinkActive="active">Summary</a>
</nav>

    <router-outlet></router-outlet>
