<img decoding="async" class="logo" src="images/logo.png" alt="" />
<!-- logo -->
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/services" routerLinkActive="active">Services</a>
  <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
</nav>

    <!-- Start Landing Section -->
    <div class="landing">
      <div class="intro-text">
        <h1>Hello There</h1>
        <p>We are Leon - Super Creative & Minimal Agency Web Template</p>
      </div>
    </div>
    <!-- End Landing Section -->
    <!-- Start Features -->
    <div class="features">
      <div class="container">
        <div class="feat">
          <i class="fas fa-magic fa-3x"></i>
          <h3>Tell Us Your Idea</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab</p>
        </div>
        <div class="feat">
          <i class="far fa-gem fa-3x"></i>
          <h3>We Will Do All The Work</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab</p>
        </div>
        <div class="feat">
          <i class="fas fa-globe-asia fa-3x"></i>
          <h3>Your Product is Worldwide</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab</p>
        </div>
      </div>
    </div>
    <!-- End Features -->
    <!-- Start Services -->
   
    <!-- End Services -->
    <!-- Start Portfolio -->

    <!-- End Portfolio -->
    <!-- Start Footer -->
    <div class="footer">&copy; 2021 <span>Leon</span> All Right Reserved</div>
    <!-- End Footer -->
    <router-outlet></router-outlet>
