<img decoding="async" class="logo" src="images/logo.png" alt="" />
<!-- logo -->
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/services" routerLinkActive="active">Services</a>
  <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
  <a routerLink="/footer" routerLinkActive="active">Summary</a>

</nav>

    <router-outlet></router-outlet>
